body {
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

p, h1, button {
  font-weight: lighter;
}

button {
  font-size: 2em;
}

#app {
  max-width: 40em;
  margin: 2em auto;
}

.Sequence {
  with: 100%;
  overflow: hidden;
}

.Sequence .term {
  float: left;
  padding: 1em 0;
}
.Sequence .term-T { background-color: #F7EBE8; }
.Sequence .term-S { background-color: #FFA987; }
.Sequence .term-D { background-color: #E54B4B; }
.term-I { background-color: #EEE; }
.term-II { background-color: #DDD; }
.term-III { background-color: #CCC; }
.term-IV { background-color: #BBB; }
.term-V { background-color: #AAA; }
.term-VI { background-color: #888; }
.term-VII { background-color: #777; }
